<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/images/icon.jpg">

    <title>Browser Fingerprint For Android</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap-table-1.6.0/bootstrap-table.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <style type="text/css">
        body {
        }
            
        .navbar-static-top {
            margin-bottom: 19px;
        }
		.fp_table_value {
			word-break: break-all;
		}
    </style>

</head>

<body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
    	<div class="container">
    	    <div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		    <span class="sr-only">展开导航</span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		</button>
                <a class="navbar-brand" href="#">Android浏览器指纹实验</a>
	    </div>
            <div id="navbar" class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
		    <li><a href="index">指纹信息</a>
		    </li>
		    <li class="active"><a href="history">历史记录</a>
		    </li>
		</ul>
	    </div>
	    <!--/.nav-collapse -->
	</div>
    </nav>

    <div class="container">
		<!-- Main component for a primary marketing message or call to action -->
		<div class="jumbotron">
			<div class="row">
				<div class="col-md-11"><h3>浏览器历史访问记录</h3></div>
				<!--
				<div class="col-md-1"><a class="btn btn-lg btn-primary" role="button" id="refreshHistoryButton">刷新</a></div>
				-->
			</div>
				
			<table id="browserfphistory"
				data-striped="true">
				<thead>
				<tr>
					<th data-field="qidname" data-width=100 class="fp_table_value">序号</th>
					<th data-field="qidvalue" data-width=500 class="fp_table_value">访问时间</th>
				</tr>
				</thead>
			</table>
		</div>
    </div>
    <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/bootstrap/assets/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap-table-1.6.0/bootstrap-table.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script>

    <script src="/static/browserfp/json2.js"></script>
    
    <script>
        $(function () {
            $('#browserfphistory').bootstrapTable({
                data: [{"qidname": "loading", "qidvalue": "loading"}]
            });
        });


		function myTrim(x) {
			return x.replace(/^\s+|\s+$/gm,'');
		}		
		function readCookie(name) {
			var items = document.cookie.split(';');
			for (var i = 0; i < items.length; i++) {
				var item = myTrim(items[i]);
				var pair = item.split('=');
				if (pair.length != 2) continue;
				if (pair[0] == name) return pair[1];
			}
			return "";
		}
		// Ajax
		function ajaxGetHistory(url) {
			var xmlhttp;
			if (window.XMLHttpRequest) {
				// code for IE7+, Firefox, Chrome, Opera, Safari, Android
				xmlhttp = new XMLHttpRequest();
			} else {
				// code for IE6, IE5
				xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
			}
		
			xmlhttp.onreadystatechange = function() {
				if (xmlhttp.readyState == 4 ) {
					if(xmlhttp.status == 200){
						// ok
						var historyRecs = JSON.parse(xmlhttp.responseText)['history'];
						var data = [];
						for (var i = 0; i < historyRecs.length; i++) {
							data.push({"qidname": historyRecs[i][0], "qidvalue": historyRecs[i][1]});
						}
						$('#browserfphistory').bootstrapTable('load', data);
					} else {
						console.log('Ajax error!'); // error
					}
				}
			}
			xmlhttp.open("GET", url, true);
			xmlhttp.send()
		}
		var fpid = readCookie('FpID');
		if (fpid == "") {
			alert('Please upload browser fingerprint first.');
		} else {
			ajaxGetHistory("gethistory?FpID=" + fpid);
		}
		/*
		$('#refreshHistoryButton').click(function() {
			var fpid = readCookie('FpID');
			if (fpid == "") {
				alert('Please upload browser fingerprint first.');
			} else {
				ajaxGetHistory("http://223.3.94.43:8090/webfp/gethistory?FpID=" + fpid);
			}
		});
		$("#refreshHistoryButton").trigger("click");
		*/
    </script>
</body>

</html>
